@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);

*{
	font-family: 'Nanum Pen Script', serif;
}

body {
  font-size: xx-large;
}
.container{
	margin:auto;
	width:1000px;
	height:1000px; 
}

#footer > address {
  text-align: center;
}

.view-form {  
}

.y-hidden {
  display: none;
}

.y-banner{
	height:50px;
	background-color:black;
}


h2{
	background-color: #000000;
	color:white;
	padding: 3px 0 3px 20px;
}

h3{
	padding-left:10px;
}


.ruser{
	width:140px;
	text-align : right;
	font-weight: bold;
}

.rcontent{
	width:600px;
	padding-left:30px;
}

.rcreateDate{
	width:100px;
	text-align: center;
}

#open-reply{
	background-color: #616161;
}

a.top {
  position: fixed;
  right: 10%;
  bottom: 50px;
  display: none;
}

.form-control{
	margin-top:9px !important;
}
#detailEditFailed{
	font-size:15pt;
	color:red;
}
#addReplyBtn{
	position: relative;
}

.reply-slot{
	margin-bottom:30px;
}